### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule cookies cookies.htm
RewriteRule domek domek.htm
RewriteRule czas czas.htm
RewriteRule baza-danych baza-danych.htm
RewriteRule u4 u4.htm
RewriteRule pp pp.htm
RewriteRule chart wykresy.htm
